---
import Contactform from "@/components/contactform.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Kontakt</Fragment>
      <Fragment slot="desc">Fragen? Kontaktiere uns gerne.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Padel Club Freiburg</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Hast du Fragen oder ein Anliegen? Wir helfen dir gerne weiter.
          Nutze das Formular, schreib eine E-Mail oder kontaktiere uns über Instagram.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-secondary3 w-4 h-4" name="uil:instagram" /><a
              href="https://www.instagram.com/padelclubfreiburg" target="_blank"
              >Padel Club Freiburg</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-secondary3 w-4 h-4" name="uil:envelope" /><a
              href="mailto:info@padelclub-freiburg.de"
              >info@padelclub-freiburg.de</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-secondary3 w-4 h-4" name="uil:phone" /><a
              href="tel:+1 (987) 4587 899">Coming soon</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
