---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingCard from "@/components/pricing.astro";

const pricing = [
  {
    name: "Passiv",
    price: "60€",
    popular: false,
    features: [
      "Details folgen",
    ],
    button: {
      text: "Auswählen",
      link: "/contact",
    },
  },
  {
    name: "Aktiv",
    price: {
      monthly: "95€",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: false,
    features: [
      "Details folgen",
    ],
    button: {
      text: "Auswählen",
      link: "/contact",
    },
  },
  {
    name: "Fördermitglied",
    price: "ab 100€",
    popular: false,
    features: [
      "Details folgen",
    ],
    button: {
      text: "Auswählen",
      link: "/contact",
    },
  },
  {
    name: "Jugend",
    price: "30 €",
    popular: false,
    features: [
      "Details folgen",
    ],
    button: {
      text: "Auswählen",
      link: "/contact",
    },
  },
  {
    name: "Familienmitglied",
    price: "190 €",
    popular: false,
    features: [
      "Details folgen",
    ],
    button: {
      text: "Auswählen",
      link: "/contact",
    },
  },
];
---

<Layout title="pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Mitgliedschaft</Fragment>
      <Fragment slot="desc">
        Wähle die passende Mitgliedschaft für dich.
      </Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
