---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingCard from "@/components/pricing.astro";

const pricing = [
    {
    name: "Aktiv",
    price: {
      monthly: "95€",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: false,
    features: [
      "Sportliche Mitgliedschaft",
      "Partner-Benefits & Rabatte",
      "Rabatte bei Events",
      "Teilnahme Spielbetrieb (DPV)",
      "Early Access bei Turnieren",
      "Vereins-Trikot zum Start",
    ],
    button: {
      text: "Auswählen",
      link: "https://easyverein.com/public/PCFR/applicationform/20109",
    },
  },
  {
    name: "Passiv",
    price: "60€",
    popular: false,
    features: [
      "Ideelle Unterstützung",
      "Partner-Benefits & Rabatte",
      "Rabatte bei Events",
      "Keine sportliche Teilnahme",
    ],
    button: {
      text: "Auswählen",
      link: "https://easyverein.com/public/PCFR/applicationform/20109",
    },
  },
  {
    name: "Jugend",
    price: "30 €",
    popular: false,
    features: [
      "Gleich wie Aktiv",
      "Bis einschließlich 18 Jahre",
    ],
    button: {
      text: "Auswählen",
      link: "https://easyverein.com/public/PCFR/applicationform/20109",
    },
  },

   {
    name: "Fördermitglied",
    price: "ab 100€",
    popular: false,
    features: [
      "Gleich wie Aktiv",
      "Freiwillig erhöhter Beitrag",
      "für Aufbau und Entwicklung",
    ],
    button: {
      text: "Auswählen",
      link: "https://easyverein.com/public/PCFR/applicationform/20109",
    },
  },
];
---

<Layout title="Mitgliedschaft">

  <Container>
    <Sectionhead>
      <Fragment slot="title">Mitgliedschaft</Fragment>
      <Fragment slot="desc">
        Wähle die passende Mitgliedschaft für dich.
      </Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
