<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    {new Date().getFullYear()} Padel Club Freiburg
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
    -->
  <p class="text-center text-xs text-slate-500 mt-1">
    <a
      href="/impressum"
      rel="noopener"
      class="hover:underline">
      Impressum
    </a>
    <a
      href="/datenschutz"
      rel="noopener"
      class="hover:underline">
      Datenschutz
    </a>
  </p>

</footer>
