---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";

import passcreatorLogo from "@/assets/partner/passcreator_logo.svg";
import padel2leon from "@/assets/partner/padel2leon.svg";

const partners = [
  {
    name: "Passcreator",
    url: "https://passcreator.de",
    logo: passcreatorLogo,
  },
];
---

<div class="mt-24">
  <h2 class="text-4xl text-center lg:text-5xl font-bold lg:tracking-tight" id="partner">Unsere Partner</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    {partners.map((p) => (
    <a href={p.url} target="_blank" rel="noopener noreferrer" aria-label={p.name}>
      <Picture
        src={p.logo}
        alt={p.name}
        class="h-8 md:h-12 w-auto opacity-80 hover:opacity-100 transition"
        loading="lazy"
      />
    </a>
  ))}
  </div>
</div>
